header, footer
{
padding: 10px;
}


div.container a
{
text-decoration: none;
font: 15px;
position: relative;
cursor: pointer;
}


div.why{
padding: 50px;
background-color: #FFAA80;
width: 100%;
justify-content: center;
align-items: center;
border-radius: 25px;
}

.dark-mode div.why{
background-color: white;
}

/* Top and Bottom borders go out */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
position: absolute;
left: 0px;
width: 100%;
height: 2px;
background: black;
content: "";
opacity: 0;
transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
top: 0px;
transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
bottom: 0px;
transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
opacity: 1;
transform: translateY(0px);
}




/* index.css */


a{
color: blue;
}

.navbar-inverse .navbar-brand {
color: snow;
font-size: 20px;
font-weight: bolder;



}




body {
font-family: Arial, Helvetica, sans-serif;

}



.navbar .nav {
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
letter-spacing: 3px;
}

.navbar-inverse {
background-color: #87CEFA
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
background-color: #87CEFA
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
background-color: #87CEFA
}


.navbar-inverse {
background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
background-image: none;
}

.navbar-inverse {
border-color: #87CEFA
}

.navbar-inverse .navbar-brand {
color: black
}

.navbar-inverse .navbar-brand:hover {
color: white;

}

.navbar-inverse .navbar-nav>li>a {
color: black;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
color: white;



}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
color: #FFCC00
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
color: #FFCC00
}


.navbar-inverse .navbar-nav>.dropdown>a .caret {
border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
border-bottom-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
border-bottom-color: #FFFFFF
} 

body {
background-color: #87CEFA;
}






img.center-block {
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
}


/* This is for the paragraph Why, How and When of my website */    
p{
font-size: 17px;
color: black;
}



/* For the programmer title in the home page */
p.title{
margin-top: 100px;
text-align: center;
color: black;
font-family: 'Allan';font-size: 50px;

}

h1.why{
font-family: cursive;
}





a.footer{
color: blue;
}


.footer-bs {
background-color: #FFAA80;
padding: 60px 40px;
margin-bottom: 20px;
border-bottom-right-radius: 6px;
border-top-left-radius: 0px;
border-bottom-left-radius: 6px;
border-radius: 25px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color: black }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:black; font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom:10px;
}

.fa-moon{
color: white;
}
.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:black; }
.footer-bs .footer-nav ul.list a:hover { color:red; text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:black;}
.footer-bs .footer-social a:hover { color:white; text-decoration:none; }

.footer-bs .footer-ns h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }


}


.cards-wrapper {
display: grid;
justify-content: center;
align-items: center;
grid-column-gap: 35%;
grid-row-gap: 50px;
padding: 100px;
background-color: #FFFF99;    
border-radius: 25px;

margin: 0 auto;
width: 100%;


}


.card {
font-family: Arial, Helvetica, sans-serif;
--bg-filter-opacity: 0.5;
background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
height: 20em;
width: 15em;
font-size: 20px;
color: white;
border-radius: 1em;
padding: 1em;
/*margin: 2em;*/
display: flex;
align-items: flex-end;
background-size: cover;
background-position: center;
box-shadow: 0 0 5em -1em black;
transition: all, var(--transition-time);
position: relative;
overflow: hidden;
border: 10px solid #ccc;
text-decoration: none;
}

.card:hover {
transform: rotate(0);
}

.card h1 {
margin: 0;
font-size: 30px;
line-height: 1.2em;
font-weight: bold;
}

.card p {
font-size: 15px;
margin-top: 0.5em;
line-height: 2em;
}

.card .tags {
display: flex;
}

.card .tags .tag {
font-size: 0.75em;
background: rgba(255, 255, 255, 0);
color: black;
border-radius: 0.3rem;
padding: 0 0.5em;
margin-right: 0.5em;
line-height: 1.5em;
transition: all, var(--transition-time);
}

.card:hover .tags .tag {
background: white;
color: black;
}
a.card:hover{
background: #FFAA80;
color: black;
}

.card .date {
position: absolute;
top: 0;
right: 0;
font-size: 0.75em;
padding: 1em;
line-height: 1em;
opacity: .8;
}

.card:before, .card:after {
content: '';
transform: scale(0);
transform-origin: top left;
border-radius: 50%;
position: absolute;
left: -50%;
top: -50%;
z-index: -5;
transition: all, var(--transition-time);
transition-timing-function: ease-in-out;
}

.card:before {
background: #ddd;
width: 250%;
height: 250%;
}

.card:after {
background: white;
width: 200%;
height: 200%;
}


.card:hover {
color: var(--color);
}

.card:hover:before, .card:hover:after {
transform: scale(1);
}

.card-grid-space .num {
font-size: 3em;
margin-bottom: 1.2rem;
margin-left: 1rem;


}

.info {
font-size: 1.2em;
display: flex;
padding: 1em 3em;
height: 3em;
}

.info img {
height: 3em;
margin-right: 0.5em;
}

.info h1 {
font-size: 1em;
font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
.cards-wrapper {
grid-template-columns: 1fr 1fr;
}
}

@media screen and (max-width: 900px) {
.cards-wrapper {
grid-template-columns: 1fr;
}
.info {
justify-content: center;
}
.card-grid-space .num {
/margin-left: 0;
/text-align: center;
}
}





.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border-radius: 25px;
}



.dark-mode{
background-color: black;
}




.dark-mode .navbar-inverse{
border-color: black;


background-color: black;
color: black;

}

.dark-mode .navbar-inverse .navbar-brand {
color: white;
}

.dark-mode .center{
background-color: white;
}


.dark-mode .navbar-inverse .navbar-nav>li>a {
color: white;
background-color: black;
}

.dark-mode i.toggler {
color: orange;
}

.dark-mode .card1{
background-color: white;

}

.dark-mode .title{
color: white;
}

.dark-mode .cards-wrapper{
background-color: white;
}

.dark-mode a.card:hover{
background: white;
color: black;
}

.dark-mode .navbar-inverse .navbar-brand:hover {
color: #FFAA80;

}

.dark-mode .navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
color: #FFAA80;



}



.dark-mode .footer-bs{
background-color: white;
}


.dark-mode .footer-bs .footer-social a:hover{color: #FFAA80;}

.dark-mode a.footer:hover{color: #FFAA80;}
.dark-mode a.footer{color: white;}


.dark-mode .title{
color: white;
}



.dark-mode .navbar-inverse .navbar-brand:hover {
color: #FFAA80;

}

.dark-mode .navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
color: #FFAA80;

}



.dark-mode .designedBy{
color: white;
}


a.footer:hover { color:white; font-style: italic; }
a.footer{
color: black;
}


.dark-mode .first{
color: white;
}

.dark-mode .first2{
color: white;
}

.dark-mode .blockquote{
color: white;
}


.dark-mode .projectFactsWrap .item:nth-child(1) {
background-color: white;
}

.dark-mode .projectFactsWrap .item:nth-child(2) {
background-color: white;
}

.dark-mode .projectFactsWrap .item:nth-child(3) {
background-color: white;
}

.dark-mode .projectFactsWrap .item:nth-child(4) {
background-color: white;
}


a.footer:hover { color:white; font-style: italic; }
a.footer{
color: black;
}
/* Card View */
.card1 {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 100%;
padding: 50px;
background-color: #FFFF99;
border-radius: 25px;

}

.card1:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#customers 
{

border-collapse: collapse;
width: 100%;

}

#customers td, #customers th 
{
border: 3px solid;
padding: 8px;
}


/* This is the style CSS for the Project Counter */

.sectionClass {
padding: 20px 0px 50px 0px;
position: relative;
display: block;

}

.fullWidth {
width: 100% !important;
display: table;
float: none;
padding: 0;
min-height: 1px;
position: relative;
}


.sectiontitle {
background-position: center;
margin: 30px 0 0px;
text-align: center;
min-height: 20px;

}

.sectiontitle h2 {
font-size: 30px;
color: #222;
margin-bottom: 0px;
padding-right: 10px;
padding-left: 10px;
}


.headerLine {
width: 160px;
height: 2px;
display: inline-block;
background: #101F2E;
}


.projectFactsWrap{
display: flex;
margin-top: 30px;
flex-direction: row;
flex-wrap: wrap;

}


#projectFacts .fullWidth{
padding: 0;
border-radius: 25px;

}

.projectFactsWrap .item{
width: 25%;
height: 100%;
padding: 50px 0px;
text-align: center;
}

.projectFactsWrap .item:nth-child(1){
background-color: #FFAA80;
color: black;
}

.projectFactsWrap .item:nth-child(2){
background: #FFAA80;
color: black;
}

.projectFactsWrap .item:nth-child(3){
background: #FFAA80;
color: black;

}


.projectFactsWrap .item:nth-child(4){
background: #FFAA80;
color: black;
}

.projectFactsWrap .item p.number{
font-size: 40px;
padding: 0;
font-weight: bold;
}

.projectFactsWrap .item p{
font-size: 18px;
margin: 0;
padding: 10px;
font-family: 'Open Sans';
}


.projectFactsWrap .item span{
width: 60px;
height: 2px;
display: block;
margin: 0 auto;
}


.projectFactsWrap .item i{
vertical-align: middle;
font-size: 50px;
}


.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
color: white;

}


.projectFactsWrap .item:hover span{
background: white;
}




.dark-mode .projectFactsWrap .item:hover i, .dark-mode .projectFactsWrap .item:hover p{
color: black;

}





@media (max-width: 786px){
.projectFactsWrap .item {
flex: 0 0 50%;
}
}



.trans{
opacity: 1;
-webkit-transform: translateX(0px);
transform: translateX(0px);
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
.authorWindow{
width: 210px;
}

.authorWindowWrapper{
bottom: -170px;
margin-bottom: 20px;
}

footer p{
font-size: 14px;
}
}


div.why1{
padding: 25px;
background-color: #FFAA80;
width: 100%;
border-radius: 25px;
}


a>div { display: none; }
a:hover>div { display: block; }




summary{
outline:none;
}

summary{
font-size: 17px;
color: black;
}


p.first::first-letter {
font-size: 150%;
font-weight: bolder
}

.nav a[title=Publications] {
        display: none;
    } 

